/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  //border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background:#111;
  opacity: 0.8;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.500);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: "Noto Sans";

  &,
  &:visited {
    color: #ffffff;
  }

  &:hover {
    color: $brand-color;
    text-decoration: none;
    cursor: pointer;
  }
}

.site-nav {
  float: right;
  margin-left: 20px;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #ffffff;
    line-height: $base-line-height;
    font-family: 'Noto Sans';
    font-weight: 400;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    // Mouse hover behavior
    &:hover {
      color: $brand-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 10px;
  text-align: center;
  font-size: $small-font-size;
  clear: both;
  margin-bottom: 10px;
  list-style: none;
  li {
    display: inline-block;
  }
  img{
    width: 32px;
    height: 32px;
  }
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(1.75);
}

.post-list-heading {
  @include relative-font-size(0.5);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

// Add tag metadata
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  a.post-tag {
    border-radius: 5px;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 1px 5px;
    margin-left: 5px;
    &:hover {
      border: 1px solid $brand-color;
      text-decoration: none;
      color: #ffffff;
      background: $brand-color;
    }
  }
}

.other-pages {
  @include relative-font-size(0.95);
  margin-top: $spacing-unit * 0.5;
  h1 {
    font-family: $base-font-family;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.375);
  font-weight: 700;
  color: $text-color;

  &:hover {
    color: $brand-color;
    text-decoration: none;
    cursor: pointer;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
